# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Storyblok CLI logs
.storyblok/logs/
.storyblok/components/**/logs/


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
# Local Netlify folder
.netlify/

# Playwright
playwright-report/
test-results/
