---
import { storyblokEditable, useStoryblokApi } from "@storyblok/astro";
import EventItem from "../components/EventItem.astro";
import HeroText from "../components/HeroText.astro";

const { blok } = Astro.props;
const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get("cdn/stories", {
  version: import.meta.env.DEV ? "draft" : "published",
  starts_with: "events/",
  is_startpage: false,
});

const events = data.stories;
---

<section
  class="mx-auto sm:px-6 lg:py-20-b max-w-6xl px-6 py-12-b sm:py-16"
  {...storyblokEditable(blok)}
>
  <HeroText tagline="What's On" title="Upcoming Events" />
  <ul>
    {
      events?.length &&
        events.map((event: any) => {
          event.content.slug = event.slug;
          return (
            <li class="rounded mb-12 md:mb-20 p-6 bg-card">
              <EventItem event={event.content} slug={event.slug} />
            </li>
          );
        })
    }
  </ul>
</section>
