---
import PageLayout from "../layouts/PageLayout.astro";

const metadata = {
  title: "Not Found",
};
---

<PageLayout metadata={metadata}>
  <h1>Not Found</h1>
  <p>Sorry, we couldn't find that page.</p>
</PageLayout>
