---
import logo from '../assets/images/shn_logo.svg';
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl whitespace-nowrap">
   <img src={logo.src} width={logo.width} height={logo.height} alt="Seaside Heritage Network" />
</span>
