---
import Link from "../components/Link.astro";
import { Icon } from "astro-icon/components";
---

<section class="mx-auto lg:py-20 py-12 sm:py-16">
  <div class="max-w-3xl mx-auto text-center p-10 rounded-md shadow-xl border">
    <Icon name="tabler:mail" class="w-10 h-10 inline-block -mt-1" />
    <h3 class="text-2xl font-heading font-semibold lg:text-4xl pb-4">
      Sign up to our Newsletter
    </h3>
    <p class="mb-6">
      Discover all the latest from the Seaside Heritage Network, direct to your
      inbox.
    </p>
    <Link
      href="https://zcv3-zcmp.maillist-manage.eu/ua/Optin?od=12ba7eafb18f&zx=14ad9ec0e3&tD=1223a5b2e37bbd71&sD=1223a5b2e37cd2d1"
    >
      Sign Up
    </Link>
  </div>
</section>
