---
import { ViewTransitions } from "astro:transitions";
import "../assets/styles/tailwind.css";
import CustomStyles from "../components/CustomStyles.astro";
import BasicScripts from '../components/BasicScripts.astro';
---

<!doctype html>
<html lang="en" class="2xl:text-[20px]">
  <head>
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <CustomStyles />
    <ViewTransitions />
  </head>

  <body class="antialiased text-default bg-page">
    <slot />
     <BasicScripts />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
