---
import { useStoryblokApi } from "@storyblok/astro";
import Layout from "./Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { metadata } = Astro.props;

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get("cdn/stories", {
  version: import.meta.env.DEV ? "draft" : "published",
  starts_with: "bucket-spade-list",
  is_startpage: true,
});

const bucketPageLinks = data ? data.stories : [];

const sharedSocialLinks = [
  {
    ariaLabel: "Instagram",
    icon: "tabler:brand-instagram",
    href: "https://www.instagram.com/seaside_network/",
  },
  {
    ariaLabel: "X",
    icon: "tabler:brand-x",
    href: "https://twitter.com/seaside_network",
  },
  {
    ariaLabel: "YouTube",
    icon: "tabler:brand-youtube",
    href: "https://www.youtube.com/@SeasideHeritageNetwork",
  },
];

const latestWinners = bucketPageLinks
  .filter((s: { full_slug: string }) => s.full_slug.includes("top-ten-winners"))
  .sort((a: { full_slug: string }, b: { full_slug: string }) =>
    b.full_slug.localeCompare(a.full_slug),
  )[0];

// Map the Storyblok data to match the header structure for Bucket & Spade List
const bucketHeaderLinks = bucketPageLinks.map(
  (item: { name: string; full_slug: string }) => ({
    text: item.name,
    href: `/${item.full_slug}`,
  }),
);

/** Main menu items */
const headerData = {
  links: [
    {
      text: "Events",
      href: "#",
      links: [
        { text: "Upcoming Events", href: "/events/upcoming-events/" },
        { text: "Past Events", href: "/events/past-events/" },
      ],
    },
    {
      text: "About",
      href: "#",
      links: [
        { text: "Mission & Values", href: "/mission/" },
        { text: "Meet the Team", href: "/team/" },
      ],
    },
    {
      text: "Bucket & Spade List",
      href: "#",
      links: bucketHeaderLinks, // Dynamically loaded Bucket & Spade links
    },
    { text: "Contact", href: "/contact/" },
  ],
  socialLinks: sharedSocialLinks,
};

const footerData = {
  links: [
    {
      links: [
        { text: "Upcoming Events", href: "/events/upcoming-events/" },
        { text: "Mission & Aims", href: "/mission/" },
        {
          text: "Bucket & Spade List",
          href: latestWinners
            ? `/${latestWinners.full_slug}`
            : "/bucket-spade-list/top-ten-winners-2025/",
        },
        { text: "Meet the Team", href: "/team/" },
        { text: "Contact", href: "/contact/" },
      ],
    },
  ],
  socialLinks: sharedSocialLinks,
  footNote: `
    &copy; Seaside Heritage Network All rights reserved. Registered Charity 1216037.
  `,
};
---

<Layout metadata={metadata}>
  {
    Astro.url.pathname === "/" && (
      <link
        slot="head"
        rel="preload"
        as="image"
        href="https://a.storyblok.com/f/251170/4298x3047/4582369638/penzanze-jubilee-pool.jpg/m/768x0/filters:quality(70):format(webp)"
        imagesrcset="https://a.storyblok.com/f/251170/4298x3047/4582369638/penzanze-jubilee-pool.jpg/m/400x0/filters:quality(70):format(webp) 400w, https://a.storyblok.com/f/251170/4298x3047/4582369638/penzanze-jubilee-pool.jpg/m/768x0/filters:quality(70):format(webp) 768w"
        imagesizes="(max-width: 1023px) 100vw, 60vw"
      />
    )
  }
  <slot name="header">
    <Header {...headerData} isSticky />
  </slot>
  <main id="main-content" tabindex="-1" class="flex-1">
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>
